*{
    color: royalblue;
}
.search{
    margin-left: 30px;
}
.auto_foto{
    display: block;
    width: 330px;
    height: auto;
    border-radius: 15px;
    background-color: aliceblue;
    margin: 5px;
    float: left;
}
.boxPet{
    width: 150px;
    height: 200px;
    /*border: cornflowerblue solid 5px;*/
    /*border-radius: 15px;*/
    /*background-color: aliceblue;*/
    margin: 15px;
    float: left;
}
.boxFoto{
    width: auto;
    height: 200px;

    background-size: cover;
    border: cornflowerblue solid 5px;
    border-radius: 15px;
    margin: 20px;
    float: left;
}
.auto_imgPet{
    /*display: block;*/
    background-size: cover;
    width: 150px;
    height: auto;
    border: cornflowerblue solid 3px;
    border-radius: 15px;

    margin: 0px;


}
h1, p {
    text-align: center;
    margin-top: 5px;
}
h2{
    text-align: center;
}
@font-face {
    font-family: 'myPT';
    src: url('font/PTS55F-webfont.eot');
    src: url('font/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/PTS55F-webfont.woff') format('woff'),
    url('font/PTS55F-webfont.ttf') format('truetype'),
    url('font/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myPTNarrow';
    src: url('font/PTN57F-webfont.eot');
    src: url('font/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/PTN57F-webfont.woff') format('woff'),
    url('font/PTN57F-webfont.ttf') format('truetype'),
    url('font/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "myPT", "trebuchet ms", sans-serif;
    font-size: 15px;
    background: #dfe2e3;
    line-height: 18px;
}
.narrow{
    font-family: "myPTNarrow", "trebuchet ms", sans-serif;
    font-size: 24px;
    line-height: 28px;
}
/* Оформление левого меню */
.left_side{
    background: #25b9e2;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 5;
}
.logo_text{
    padding: 20px 10px;
    color:#ffffff;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    font-family: myPTNarrow;
    text-align: center;
}
.logo_text a{
    display: inline-block;
}
.logo_text span{
    color:#72898f;
    font-size: 18px;
    line-height: 24px;
    padding: 0 10px 18px;
    text-align: center;
    display: block;
}
.left_menu{
    margin-top: 30px;
}
.left_menu ul{
    display: block;
    list-style-type: none;
}
.left_menu li{
    display: block;
    height: 30px;
    line-height: 30px;
}
.left_menu li a{
    display: block;
    line-height: 30px;
    font-size: 18px;
    font-family: myPTNarrow;
    color:#ffffff;
    text-decoration: none;
    padding-left: 60px;
}
.left_menu li a:hover{
    background: #343e41;
}
.social_img{
    text-align: center;
}
.social_img a{
    display: inline-block;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.social_img a:hover{
    opacity: 0.7;
}
.tw_icon{
    background: url("../images/social.png") top left no-repeat;
}
.go_icon{
    background: url("../images/social.png") top right no-repeat;
}
.left_swap{
    display: none;/* По умолчанию блок не виден,
	он показывается, если срабатывает медиазапрос */
    position: fixed;
    width: 50px;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 6;
    background: url(../images/swipe.png) #1d282b center 20px no-repeat;
}


/* Стили основного блока */
.wrapper{
    position: relative;
    background: #ffffff;
    min-height: 200%;
    min-width: 400px;
    max-width: 1200px;
    padding-left: 300px;
    padding-right: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.wrapper a{
    color:#576a6f;
}
.wrapper a:hover{
    color:#1d282b;
}
.text_block{
    overflow: hidden;
    color:#4a4a4a;
    font-size: 18px;
    line-height: 24px;
    min-height: 200px;
    background: url("../images/hr.png") left bottom repeat-x;
    padding: 10px 40px 10px;
}
h2{
    color:#4a4a4a;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: none;
    font-family: myPTNarrow;
    padding: 40px 0;
    font-weight: normal;
}
h3{
    color:#4a4a4a;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
    text-transform: none;
    font-family: myPTNarrow;
    padding: 20px 0;
    font-weight: normal;
}
h4{
    color:#4a4a4a;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: none;
    font-family: myPTNarrow;
    padding: 10px 0;
    font-weight: normal;
}
p{
    margin-bottom: 24px;
}
.cent_img{
    display: block;
    margin: 0 auto 40px;
}
.auto_img{
    display: block;
    max-width: 100%;
    margin: 0 auto 24px;
}

/* Оформление нижних блоков */
.footer{
    clear: both;
    overflow: hidden;
    text-align: center;
    font-size: 0;
    padding: 20px 40px;
}
.footer_block{
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: 27%;
    padding: 2%;
    font-size: 13px;
}
.footer_block img{
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

/* Переопределение стилей в медиазапросах */
@media only screen and (max-width:800px){
    .left_side{
        display: none;
    }

    .left_swap{
        display: block;
    }
    .wrapper{
        padding-left: 50px;
    }
}
@media only screen and (max-width:720px){
    .footer_block{
        display: block;
        width: 96%;
    }
}
